version: '3.7'

services:

    goweb: ### WEB SEC GOLANG NET/HTTP
        image: psytroncorp/xgo
        build:
            context: .
            dockerfile: DockerfileGo
            args:
                buildno: 1 # ### RELEASE NUMBER GO BUILD/
        command: "go run /code/websec.go"
        #command: "go run /home/deploy/generic/websec.go"
        deploy:
            replicas: 1
            placement:
                constraints:
                    - node.labels.web == active
                    #- node.role == manager
                    #- node.hostname != merlin
        ports:
            - "80:80"        ##### HTTP PUBLIC
            - "443:443"      ##### WEB UI (enabled --api)
            - "8850:8850"    ##### WEB UI (enabled --api)
        volumes:
            - type: bind
              source: $PWD
              target: /code
        environment:
            UNBUFFERED: 1
            #- ${PWD}:/code
            #- /var/run/docker.sock:/var/run/docker.sock
            #- /tmp/govolume:/code
            #- govol:/govol
        #depends_on:
        #  - db

networks:
    default:

volumes:
    govol:
    pyvol:

secrets:
    dxdx:
        external: true
        name: dxdx
    default:
        external: true
        name: default